# Ignore everything except directories
*
!*/

# For Main Module Repository
!/src/modules/main/**
!/setup/**
!/.gitignore
!/tsconfig.json
!/package.json
!/readme.md

# For Valorant Module Repository
# !/src/modules/game/valorant/**
# !/src/modules/readme.md

# For Mir4 Module Repository
# !/src/modules/mir4/valorant/**
# !/src/modules/readme.md

# For Crypto Module Repository
# !/src/modules/market/crypto/**
# !/src/modules/readme.md