# Ignore everything except directories
*
!*/

# For Main Module Repository
!/src/modules/main/**
!/setup/**
!/.gitignore
!/tsconfig.json
!/package.json

# For Valorant Module Repository
# !/src/modules/game/valorant/**